.Header {
    background-color:#090413;
    border-bottom: 1px solid #ddd;
    position: fixed;
    padding: 0px 20px;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 10000;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name {
        flex: 1;
    }

    p{
        color:#CD0E7A;
        font-size: 24px;
        margin: 2%;
    }

    .icon {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 20px;

        .setup,
        .push,
        .profile {
            color:#CD0E7A;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #eaeaea;
                border-radius: 50%;
            }
        }
    }
}
